/*
 * REQUIRED
 *****************************************/
/*
 * DEFAULTS
 *****************************************/
/*
 * COLORS	
 *****************************************/
/*
 * FONTS	
 *****************************************/
/*
 * MARGIN & PADDING	
 *****************************************/
/*
 * BREAKPOINTS (FROM BOOTSTRAP CONFIG)
 *****************************************/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(../icomoon/style.css);
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Barlow-Regular;
  src: url('../fonts/Barlow/Barlow-Regular.ttf'); 
}

@font-face {
  font-family: Barlow-Medium;
  src: url('../fonts/Barlow/Barlow-Medium.ttf'); 
}

@font-face {
  font-family: Barlow-Bold;
  src: url('../fonts/Barlow/Barlow-Bold.ttf'); 
}
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
 * VENDORS
 *****************************************/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: 0;
  margin-right: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
/*
 * GLOBALS
 *****************************************/
@font-face {
  font-family: 'jaapokki-regular';
  src: url("../font/jaapokki-regular-webfont.eot");
  src: url("../font/jaapokki-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/jaapokki-regular-webfont.woff2") format("woff2"), url("../font/jaapokki-regular-webfont.woff") format("woff"), url("../font/jaapokki-regular-webfont.ttf") format("truetype"), url("../font/jaapokki-regular-webfont.svg#jaapokkiregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'elegant-lux-mager';
  src: url("../font/elegantlux-mager-webfont.eot");
  src: url("../font/elegantlux-mager-webfont.eot?#iefix") format("embedded-opentype"), url("../font/elegantlux-mager-webfont.woff2") format("woff2"), url("../font/elegantlux-mager-webfont.woff") format("woff"), url("../font/elegantlux-mager-webfont.ttf") format("truetype"), url("../font/elegantlux-mager-webfont.svg#klinic_slablight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'baron-neue-regular';
  src: url("../font/baron_neue-webfont.eot");
  src: url("../font/baron_neue-webfont.eot?#iefix") format("embedded-opentype"), url("../font/baron_neue-webfont.woff2") format("woff2"), url("../font/baron_neue-webfont.woff") format("woff"), url("../font/baron_neue-webfont.ttf") format("truetype"), url("../font/baron_neue-webfont.svg#baron_neueregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
 * BACKGROUND
 *****************************************/
.body-bg-color, body {
  background: #fff; }

.intro-bg-color, label .required, button:after, .msg-confirm-wrapper, .icon-circled, .cv .divider:before, .cv .divider:after, .cv .detail-circle, .cv .bar span {
  background: #101010; }

.nav-bg-color {
  background: #101010; }

.section-bg-color, input[type="text"], textarea, #menu-toggle span, section {
  background: #fff; }

/*
 * COLOR
 *****************************************/
.text-color, body, i, h1, h2, h3, h4, h5, h6, label, .cv strong, .cv .box span {
  color: #101010; }

.text-color-alt, figure figcaption .caption-wrapper h5, nav ul li a, nav #my-name, .wrapper #intro h1, .wrapper #intro h2 {
  color: #fff; }

.text-color-body, p, .cv span {
  color: #8d8d8d; }

.text-link-color, a, label .required, button, figure figcaption .caption-wrapper h5 a, .icon-circled {
  color: #edc27b; }

/*
 * FONT
 *****************************************/
.font-size-body, body, label, input[type="text"], textarea, button, .cv strong, .cv span {
  font-size: 14px; }

.font-size-h1, h1, .msg-confirm-wrapper .msg-confirm i {
  font-size: 44px; }

.font-size-h2, h2 {
  font-size: 36px; }

.font-size-h3, h3 {
  font-size: 30px; }

.font-size-h4, h4 {
  font-size: 24px; }

.font-size-h5, h5 {
  font-size: 22px; }

.font-size-h6, h6 {
  font-size: 18px; }

.font-size-nav, nav ul li a, nav #my-name {
  font-size: 14px; }

.font-stack-body, body, a, p, strong, input[type="text"], textarea, .cv strong, .cv span {
  font-family: "baron-neue-regular", "Helvetica", "Arial";
  font-weight: 400; }

.font-stack-nav, nav ul li a, nav #my-name {
  font-family: "baron-neue-regular", "Helvetica", "Arial";
  font-weight: 400; }

.font-stack-title, h1, h2, h3, h4, h5, h6, strong, button {
  font-family: "baron-neue-regular", "Helvetica", "Arial";
  font-weight: 400; }

/*
 * WIDTH
 *****************************************/
.width-100, a.magic-underlined:hover:before, a.magic-underlined.active:before, input[type="text"], textarea, button:after, figure, figure figcaption .caption-wrapper h5 a:hover:before, .wrapper, section, .cv .divider:before, .cv .bar {
  width: 100%; }

/*
 * MARGIN
 *****************************************/
.no-margin, html, body, figure, figure figcaption .caption-wrapper h5, nav ul, nav li, .wrapper #intro h1, .wrapper #intro h2, .cv .detail, .cv .divider, .cv .divider:after, .cv .detail-circle, .cv .bar span {
  margin: 0; }

.margin, .margin-h, .margin-v, p, h1, h2, h3, h4, h5, h6, label, input[type="text"], textarea, button, .img-circle-wrapper, #map-canvas, section, nav ul li, nav #my-name, section > .section-title {
  margin: 28px; }

.margin-h {
  margin-bottom: 0;
  margin-top: 0; }

.margin-v, p, h1, h2, h3, h4, h5, h6, label, input[type="text"], textarea, button, .img-circle-wrapper, #map-canvas, section {
  margin-left: 0;
  margin-right: 0; }

/*
 * PADDING
 *****************************************/
.no-padding, html, body, figure, nav ul, nav li, .wrapper #intro .intro-text-wrapper, .wrapper #intro h1, .wrapper #intro h2, section > .section-title, .cv .divider:after, .cv .detail-circle {
  padding: 0; }

.padding, .padding-h, .form-col, .cv .row, .cv .detail, .cv .divider, .padding-v, .img-grid, figure figcaption, #menu-toggle, section {
  padding: 28px; }

.padding-h, .form-col, .cv .row, .cv .detail, .cv .divider {
  padding-bottom: 0;
  padding-top: 0; }

.padding-v {
  padding-left: 0;
  padding-right: 0; }

/*
 * DISPLAY
 *****************************************/
.block, a, hr, label, input[type="text"], textarea, figure, .icon-circled, nav, #menu-toggle, #menu-toggle span, .cv strong, .cv span, .cv .divider:before, .cv .bar span {
  display: block; }

.hide {
  display: none; }

.hide-totally {
  opacity: 1; }

.inline-block, button, figure figcaption .caption-wrapper h5 a, nav ul, nav li, section > .section-title {
  display: inline-block; }

.table, .msg-confirm-wrapper .msg-confirm, .cv .box {
  display: table; }

.table-cell, .msg-confirm-wrapper .msg-confirm i, .cv .box span {
  display: table-cell;
  vertical-align: middle; }

/*
 * CASE
 *****************************************/
.capitalize {
  text-transform: capitalize; }

.lowercase, nav ul li a, .cv, .cv .detail, .cv .divider {
  text-transform: lowercase; }

.uppercase, button, figure figcaption .caption-wrapper h5, nav #my-name, .wrapper #intro h1, .cv h1, .cv h2, .cv h3 {
  text-transform: uppercase; }

/*
 * DECORATION
 *****************************************/
.no-text-decoration, nav ul li a, nav #my-name {
  text-decoration: none; }

.underlined {
  text-decoration: underline; }

/*
 * ALIGNMENT
 *****************************************/
.align-center, .msg-confirm-wrapper, figure figcaption .caption-wrapper, figure figcaption .caption-wrapper h5, section, section .separator {
  text-align: center; }

.align-left, p, label, input[type="text"], textarea {
  text-align: left; }

.align-right {
  text-align: right; }

.img-responsive {
  height: auto;
  width: 100%; }

@media screen and (max-width: 1199px) {
  .img-restrict {
    max-width: 320px; } }

/*
 * OVERFLOW
 *****************************************/
.no-overflow, figure, .img-circle-wrapper, .wrapper, .cv .bar {
  overflow: hidden; }

html, body {
  height: 100%;
  width: 100%; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

*, *:before, *:after {
  box-sizing: inherit; }

canvas {
  background: transparent; }

a {
  position: relative;
  text-decoration: none; }
  a.magic-underlined:before {
    background: #edc27b;
    bottom: -2px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

p {
  line-height: 135%;
  margin-top: 0; }
  @media screen and (max-width: 991px) {
    p {
      margin-bottom: 14px;
      margin-top: 14px; } }

@media screen and (max-width: 991px) {
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.3px; } }

h1, h2, h3 {
  letter-spacing: 2px; }

@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px; } }

@media screen and (max-width: 991px) {
  h2 {
    font-size: 30px; } }

@media screen and (max-width: 991px) {
  h3 {
    font-size: 24px; } }

@media screen and (max-width: 991px) {
  h4 {
    font-size: 22px; } }

@media screen and (max-width: 991px) {
  h5 {
    font-size: 18px; } }

@media screen and (max-width: 991px) {
  h6 {
    font-size: 14px; } }

hr {
  border: none;
  height: 0;
  margin: 112px 0; }

form {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

label, input[type="text"], textarea {
  outline: none; }
  @media screen and (max-width: 1199px) {
    label, input[type="text"], textarea {
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

label {
  margin-bottom: 0; }
  label .required {
    display: none;
    padding: 0 5px; }

input[type="text"], textarea {
  border: none;
  border-bottom: 2px solid #101010;
  margin-top: 0;
  padding: 10px 2px; }

input[type="text"], textarea {
  max-width: 450px; }

button {
  background: transparent;
  border: 3px solid #edc27b;
  cursor: pointer;
  float: left;
  letter-spacing: 2px;
  outline: none;
  overflow: hidden;
  padding: 25px 80px;
  position: relative;
  z-index: 1; }
  button:after {
    content: '';
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  button:hover:after, button:active:after {
    height: 250%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  @media screen and (max-width: 1199px) {
    button {
      float: none;
      margin-left: auto;
      margin-right: auto; } }

.msg-confirm-wrapper {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200; }
  .msg-confirm-wrapper .msg-confirm {
    background: #edc27b;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 200px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
    .msg-confirm-wrapper .msg-confirm:before {
      content: "";
      border: 5px solid #101010;
      bottom: 5px;
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px; }
    .msg-confirm-wrapper .msg-confirm i {
      vertical-align: middle;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

/*
 * COMPONENTS
 *****************************************/
.img-grid {
  padding-bottom: 0; }
  @media screen and (max-width: 1199px) {
    .img-grid {
      padding-bottom: 28px; } }
  .img-grid:nth-child(1), .img-grid:nth-child(3) {
    padding-right: 14px; }
    @media screen and (max-width: 1199px) {
      .img-grid:nth-child(1), .img-grid:nth-child(3) {
        padding-right: 28px; } }
  .img-grid:nth-child(2), .img-grid:nth-child(4) {
    padding-left: 14px; }
    @media screen and (max-width: 1199px) {
      .img-grid:nth-child(2), .img-grid:nth-child(4) {
        padding-left: 28px; } }

figure {
  cursor: pointer;
  position: relative; }
  figure figcaption, figure figcaption:before, figure figcaption:after {
    -webkit-transition: opacity 0.8s, transform 0.8s;
    -moz-transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, transform 0.8s;
    -o-transition: opacity 0.8s, transform 0.8s;
    transition: opacity 0.8s, transform 0.8s; }
  figure img {
    vertical-align: middle;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  figure figcaption {
    cursor: auto; }
    figure figcaption, figure figcaption:before, figure figcaption:after {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    figure figcaption:before, figure figcaption:after {
      content: ''; }
    figure figcaption:before {
      border-bottom: 10px solid #edc27b;
      border-top: 10px solid #edc27b;
      -webkit-transform: scale(0, 1);
      -moz-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      -o-transform: scale(0, 1);
      transform: scale(0, 1); }
    figure figcaption:after {
      border-left: 10px solid #edc27b;
      border-right: 10px solid #edc27b;
      -webkit-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0); }
    figure figcaption:hover:before, figure figcaption:hover:after {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    @media screen and (max-width: 991px) {
      figure figcaption:before, figure figcaption:after {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); } }
    @media screen and (max-width: 991px) {
      figure figcaption {
        bottom: auto;
        left: auto;
        padding: 14px 0;
        position: relative;
        right: auto;
        top: auto; }
        figure figcaption:before, figure figcaption:after {
          content: none; } }
    figure figcaption .caption-wrapper {
      background: transparent;
      bottom: 10px;
      content: '';
      left: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 100;
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      -ms-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
      figure figcaption .caption-wrapper h5 {
        left: 50%;
        line-height: 130%;
        opacity: 0;
        padding: 14px 0;
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s linear;
        -moz-transition: opacity 0.3s linear;
        -ms-transition: opacity 0.3s linear;
        -o-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        figure figcaption .caption-wrapper h5 a {
          font-family: inherit;
          text-decoration: none;
          z-index: 100; }
    figure figcaption:hover .caption-wrapper {
      background: url(../images/overlay.png) 0 0 repeat; }
      figure figcaption:hover .caption-wrapper h5 {
        opacity: 1;
        -webkit-transition: opacity 0.3s linear 0.6s;
        -moz-transition: opacity 0.3s linear 0.6s;
        -ms-transition: opacity 0.3s linear 0.6s;
        -o-transition: opacity 0.3s linear 0.6s;
        transition: opacity 0.3s linear 0.6s; }
    @media screen and (max-width: 991px) {
      figure figcaption .caption-wrapper {
        background: rgba(34, 34, 34, 0.3); }
        figure figcaption .caption-wrapper h5 {
          opacity: 1;
          -webkit-transition: opacity 0.3s linear 0.6s;
          -moz-transition: opacity 0.3s linear 0.6s;
          -ms-transition: opacity 0.3s linear 0.6s;
          -o-transition: opacity 0.3s linear 0.6s;
          transition: opacity 0.3s linear 0.6s; } }
    @media screen and (max-width: 991px) {
      figure figcaption .caption-wrapper, figure figcaption:hover .caption-wrapper {
        background: none;
        left: 0;
        position: relative;
        top: 0;
        width: 100%; }
        figure figcaption .caption-wrapper h5, figure figcaption:hover .caption-wrapper h5 {
          color: #8d8d8d;
          font-size: 14px;
          left: 0;
          position: relative;
          text-align: left;
          top: 0;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0); }
          figure figcaption .caption-wrapper h5 a, figure figcaption:hover .caption-wrapper h5 a {
            color: #101010; } }

.img-circle-wrapper {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -o-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%; }
  .img-circle-wrapper .img-responsive {
    height: auto;
    min-height: 0; }

.icon-circled {
  border: 0 solid #edc27b;
  font-size: 1px;
  margin: 56px auto 28px auto;
  height: 0;
  width: 0;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -o-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%; }

nav {
  border-top: 4px solid #edc27b;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (max-width: 991px) {
    nav {
      background: #101010 !important; } }
  nav ul, nav li {
    list-style: none; }
    @media screen and (max-width: 991px) {
      nav ul, nav li {
        width: 100%; } }
  nav ul {
    float: left; }
    @media screen and (max-width: 991px) {
      nav ul {
        display: none; } }
  @media screen and (max-width: 991px) {
    nav ul li {
      float: left;
      margin: 0 0 31px 0;
      padding: 0 0 0 28px;
      width: 100%; } }
  nav ul li a {
    cursor: pointer;
    letter-spacing: 2px;
    position: relative; }
    @media screen and (max-width: 991px) {
      nav ul li a {
        display: inline-block;
        margin: 0 auto; } }
  nav #my-name {
    cursor: pointer;
    float: right;
    letter-spacing: 2px; }
    @media screen and (max-width: 991px) {
      nav #my-name {
        margin-top: 30px; } }

#menu-toggle {
  float: left; }
  #menu-toggle span {
    height: 2px;
    margin: 4px 0;
    width: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  #menu-toggle.active span {
    opacity: 0; }
  #menu-toggle.active span:first-child, #menu-toggle.active span:last-child {
    opacity: 1; }
  #menu-toggle.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 12px; }
  #menu-toggle.active span:last-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -12px; }

#map-canvas {
  height: 450px; }
  @media screen and (max-width: 991px) {
    #map-canvas {
      margin-left: 0;
      margin-right: 0; } }

.wrapper {
  float: left;
  margin: 0;
  padding: 0; }
  .wrapper #intro {
    background: #101010 url('http://www.alessiosantangelo.it/images/bg.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0; }
    .wrapper #intro .intro-text-wrapper {
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .wrapper #intro h1, .wrapper #intro h2 {
      -webkit-text-shadow: 0 1px 1px #101010;
      -moz-text-shadow: 0 1px 1px #101010;
      -ms-text-shadow: 0 1px 1px #101010;
      -o-text-shadow: 0 1px 1px #101010;
      text-shadow: 0 1px 1px #101010; }

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1480px;
  min-height: 100%; }
  @media screen and (max-width: 991px) {
    section {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0; } }
  section.full {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  section > .section-title {
    border-bottom: 6px solid #edc27b;
    padding-bottom: 7px;
    width: auto; }
    @media screen and (max-width: 991px) {
      section > .section-title {
        padding-left: 0;
        padding-right: 0; } }
  section .separator {
    background: #e8e8e8;
    height: 0;
    margin: 60px 0;
    clear: both; }

@page {
  margin: 0; }
@media screen and (max-width: 991px) {
  .cv .row {
    padding-left: 0;
    padding-right: 0; } }
@media print {
  .cv .wrapper {
    padding-left: 0;
    padding-right: 0; } }
.cv strong, .cv span {
  line-height: normal;
  margin: 0 0 14px 0; }
.cv .box {
  border: 2px solid #101010;
  border-right: none;
  float: right;
  padding: 16px; }
  .cv .box span {
    font-size: 12px; }
.cv .detail, .cv .divider {
  border-left: 2px solid #101010;
  position: relative; }
.cv .divider {
  padding-top: 28px;
  position: relative; }
  .cv .divider:before {
    content: '';
    height: 2px;
    margin-left: -1px;
    margin-top: -1px;
    position: absolute;
    right: 0;
    top: 50%; }
  .cv .divider:after {
    bottom: 9px;
    content: '';
    height: 10px;
    right: 0;
    position: absolute;
    width: 10px;
    -webkit-border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -ms-border-radius: 100% 100% 100% 100%;
    -o-border-radius: 100% 100% 100% 100%;
    border-radius: 100% 100% 100% 100%; }
.cv .detail-circle {
  bottom: 6px;
  height: 10px;
  left: -4px;
  position: absolute;
  width: 10px;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -o-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%; }
.cv .bar {
  border: 3px solid #101010;
  height: 14px; }
  .cv .bar span {
    height: 100%; }
    .cv .bar span:before, .cv .bar span:after {
      position: absolute;
      bottom: 11.2px;
      font-size: 11.2px; }
    .cv .bar span:before {
      content: 'Beginner';
      left: 28px; }
    .cv .bar span:after {
      content: 'Master';
      right: 28px; }

#print {
  float: none; }

body.page-404 {
  background: #101010 url(../images/bg.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body.page-404 button {
    border-color: #101010;
    float: none;
    margin-left: auto;
    margin-right: auto; }
  body.page-404 .wrapper-404 {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    /*# sourceMappingURL=style.css.map */
    
.wrapper #intro {
	    background: #101010 url(../images/bg.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0;
	}


.icon-bar {
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/*#main.css*/
/*------------------------------------------------------------------
Author : Madhumita Chatterjee
-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Barlow-Regular;
  src: url('../fonts/Barlow/Barlow-Regular.ttf'); 
}

@font-face {
  font-family: Barlow-Medium;
  src: url('../fonts/Barlow/Barlow-Medium.ttf'); 
}

@font-face {
  font-family: Barlow-Bold;
  src: url('../fonts/Barlow/Barlow-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RS PLUGIN ]*/
/*---------------------------------------------*/
.container {max-width: 1200px;}



/*//////////////////////////////////////////////////////////////////
[ Form ]*/
.contact100-form {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 220px;
  max-width: calc(100% - 10px);
  position: relative;
  background-color: #e6e6e6;
  height: 40px;
  border: 0px solid transparent;
  border-radius: 5px;
}

/*---------------------------------------------*/
.input100 {
  display: block;
  width: 100%;
  background: transparent;
}

input.input100 {
  height: 100%;
  padding: 0 20px 0 20px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border: 1px solid #846add;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.2);
  -moz-transform: scaleX(1.1) scaleY(1.2);
  -ms-transform: scaleX(1.1) scaleY(1.2);
  -o-transform: scaleX(1.1) scaleY(1.2);
  transform: scaleX(1.1) scaleY(1.2);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Barlow-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f071";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

/*==================================================================
[ Color ]*/
.cl0 {color: #fff;}




/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.s1-txt1 {
  font-family: Barlow-Regular;
  font-size: 14px;
  color: #fff;
  line-height: 1;
}

.s1-txt2 {
  font-family: Barlow-Regular;
  font-size: 15px;
  color: #846add;
  line-height: 1.4;
}

.s1-txt3 {
  font-family: Barlow-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
}

.s1-txt4 {
  font-family: Barlow-Regular;
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.m1-txt1 {
  font-family: Barlow-Bold;
  font-size: 25px;
  color: #999999;
  line-height: 1.2;
  margin: 25px 0 29px;
}




/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
  font-family: Barlow-Medium;
  font-size: 31px;
  line-height: 1;
  color: #fff;
}


/*==================================================================
   SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Size ]*/
.size1 {
  width: 100%;
  min-height: 100vh;
}

.size2 {
  width: 90px;
  height: 100px;
}

.size3 {
  min-width: 120px;
  height: 40px;
}

/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.wsize1 {
  max-width: 100%;
  width: 880px;
}



/*//////////////////////////////////////////////////////////////////
[ Height ]*/
.hsize1 {
  min-height: 230px;
}



/*//////////////////////////////////////////////////////////////////
[ Background ]*/
.bg0 {background-color: #fff;}
.bg1 {background-color: rgba(255,255,255,0.8);-webkit-box-shadow: 0px 0px 23px 3px rgba(235,232,235,1);
-moz-box-shadow: 0px 0px 23px 3px rgba(235,232,235,1);
box-shadow: 0px 0px 23px 3px rgba(235,232,235,1);}

.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}




/*//////////////////////////////////////////////////////////////////
[ Border ]*/
.bor1 {
  border-radius: 18px;
}

.bor2 {
  border-bottom: 1px solid #999999;
}



/*==================================================================
   WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE  
==================================================================*/
.where1 {
  margin: 20px 5px 0px 5px;
}


/*==================================================================
 HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW 
==================================================================*/
.placeholder0::-webkit-input-placeholder { color: #999999;}
.placeholder0:-moz-placeholder { color: #999999;}
.placeholder0::-moz-placeholder { color: #999999;}
.placeholder0:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
.wrappic1 {
  display: block;
  width: 100%;
  text-align: center;
}
.wrappic1 img {
  max-width: 100%;
}

/*---------------------------------------------*/
.how-countdown {
background-color: #01014a;
    border-radius: 7px;
    margin: 0px 14px 22px 18px;
}

/*---------------------------------------------*/
.how-btn {
  padding: 0 20px;
  background-color: #846add;
  border-radius: 5px;
}

.how-btn:hover {
  background-color: #333333;
}




/*//////////////////////////////////////////////////////////////////
[ Pseudo ]*/

/*------------------------------------------------------------------
[ Focus ]*/
.focus-in0:focus::-webkit-input-placeholder { color:transparent; }
.focus-in0:focus:-moz-placeholder { color:transparent; }
.focus-in0:focus::-moz-placeholder { color:transparent; }
.focus-in0:focus:-ms-input-placeholder { color:transparent; }


/*------------------------------------------------------------------
[ Hover ]*/
.hov-cl0:hover {color: #fff;}
.hov-bg0:hover {background-color: #fff;}

/*---------------------------------------------*/







/*==================================================================
  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
==================================================================*/


/*//////////////////////////////////////////////////////////////////
[ XL ]*/
@media (max-width: 1200px) {
  .m-0-xl {margin: 0;}
  .m-lr-0-xl {margin-left: 0; margin-right: 0;}
  .m-lr-15-xl {margin-left: 15px; margin-right: 15px;}
  .m-l-0-xl {margin-left: 0;}
  .m-r-0-xl {margin-right: 0;}
  .m-l-15-xl {margin-left: 15px;}
  .m-r-15-xl {margin-right: 15px;}

  .p-0-xl {padding: 0;}
  .p-lr-0-xl {padding-left: 0; padding-right: 0;}
  .p-lr-15-xl {padding-left: 15px; padding-right: 15px;}
  .p-l-0-xl {padding-left: 0;}
  .p-r-0-xl {padding-right: 0;}
  .p-l-15-xl {padding-left: 15px;}
  .p-r-15-xl {padding-right: 15px;}

  .w-full-xl {width: 100%;}

  /*---------------------------------------------*/

}


/*//////////////////////////////////////////////////////////////////
[ LG ]*/
@media (max-width: 992px) {
  .m-0-lg {margin: 0;}
  .m-lr-0-lg {margin-left: 0; margin-right: 0;}
  .m-lr-15-lg {margin-left: 15px; margin-right: 15px;}
  .m-l-0-lg {margin-left: 0;}
  .m-r-0-lg {margin-right: 0;}
  .m-l-15-lg {margin-left: 15px;}
  .m-r-15-lg {margin-right: 15px;}

  .p-0-lg {padding: 0;}
  .p-lr-0-lg {padding-left: 0; padding-right: 0;}
  .p-lr-15-lg {padding-left: 15px; padding-right: 15px;}
  .p-l-0-lg {padding-left: 0;}
  .p-r-0-lg{padding-right: 0;}
  .p-l-15-lg {padding-left: 15px;}
  .p-r-15-lg {padding-right: 15px;}

  .w-full-lg {width: 100%;}

  /*---------------------------------------------*/


}


/*//////////////////////////////////////////////////////////////////
[ MD ]*/
@media (max-width: 768px) {
  .m-0-md {margin: 0;}
  .m-lr-0-md {margin-left: 0; margin-right: 0;}
  .m-lr-15-md {margin-left: 15px; margin-right: 15px;}
  .m-l-0-md {margin-left: 0;}
  .m-r-0-md {margin-right: 0;}
  .m-l-15-md {margin-left: 15px;}
  .m-r-15-md {margin-right: 15px;}

  .p-0-md {padding: 0;}
  .p-lr-0-md {padding-left: 0; padding-right: 0;}
  .p-lr-15-md {padding-left: 15px; padding-right: 15px;}
  .p-l-0-md {padding-left: 0;}
  .p-r-0-md{padding-right: 0;}
  .p-l-15-md {padding-left: 15px;}
  .p-r-15-md {padding-right: 15px;}

  .w-full-md {width: 100%;}
  /*---------------------------------------------*/

}


/*//////////////////////////////////////////////////////////////////
[ SM ]*/
@media (max-width: 576px) {
  .m-0-sm {margin: 0;}
  .m-lr-0-sm {margin-left: 0; margin-right: 0;}
  .m-lr-15-sm {margin-left: 15px; margin-right: 15px;}
  .m-l-0-sm {margin-left: 0;}
  .m-r-0-sm {margin-right: 0;}
  .m-l-15-sm {margin-left: 15px;}
  .m-r-15-sm {margin-right: 15px;}

  .p-0-sm {padding: 0;}
  .p-lr-0-sm {padding-left: 0; padding-right: 0;}
  .p-lr-15-sm {padding-left: 15px; padding-right: 15px;}
  .p-l-0-sm {padding-left: 0;}
  .p-r-0-sm{padding-right: 0;}
  .p-l-15-sm {padding-left: 15px;}
  .p-r-15-sm {padding-right: 15px;}

  .w-full-sm {width: 100%;}

  /*---------------------------------------------*/
  .respon1 {
    padding-top: 80px;
  }
  
}


/*//////////////////////////////////////////////////////////////////
[ SSM ]*/
@media (max-width: 480px) {
  .m-0-ssm {margin: 0;}
  .m-lr-0-ssm {margin-left: 0; margin-right: 0;}
  .m-lr-15-ssm {margin-left: 15px; margin-right: 15px;}
  .m-l-0-ssm {margin-left: 0;}
  .m-r-0-ssm {margin-right: 0;}
  .m-l-15-ssm {margin-left: 15px;}
  .m-r-15-ssm {margin-right: 15px;}

  .p-0-ssm {padding: 0;}
  .p-lr-0-ssm {padding-left: 0; padding-right: 0;}
  .p-lr-15-ssm {padding-left: 15px; padding-right: 15px;}
  .p-l-0-ssm {padding-left: 0;}
  .p-r-0-ssm{padding-right: 0;}
  .p-l-15-ssm {padding-left: 15px;}
  .p-r-15-ssm {padding-right: 15px;}

  .w-full-ssm {width: 100%;}
  /*---------------------------------------------*/

}



.shadow{-webkit-box-shadow: 0px 0px 19px 2px rgba(232,232,232,1);
-moz-box-shadow: 0px 0px 19px 2px rgba(232,232,232,1);
box-shadow: 0px 0px 19px 2px rgba(232,232,232,1);}
.white-box-padding{padding:58px 50px;}

.nav-list{padding:15px 15px; box-shadow: rgba(17, 17, 17, 0.2) 0px 5px 3px 0px;}
.nav-list li {display: inline-block; margin-left: 25px;}
.nav-list li:last-child {float: right; margin-left: 25px;margin-top: 12px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.siu-logo{height:40px;}
.itelflogo{margin-top: -10px; height: 36px;}
.scit-logo{height: 40px;margin-top: 4px;}
.section-intro-comingsoon{margin:75px 0px 0px; padding:50px 25px 50px;}
.text-sprouit-green{color: #005f04;}
.text-sprouit-blue{color: #01014a !important;}

.footer
{
  background: #01014a;
  padding: 20px;
  margin-top: -5px;
}

/* ---------------------PAGE LOADER---------------------*/

.loader-wrapper {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

.loader-wrapper .loader {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.spinn-right {
  -webkit-animation: spin-right 4s linear infinite;
  -moz-animation: spin-right 4s linear infinite;
  animation: spin-right 4s linear infinite;
  position: absolute;
  top: -98px;
    left: -37px 
}
.margin-right-only-desktop{margin-right: auto;}

@-moz-keyframes spin-right {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinn-left {
  -webkit-animation: spin-left 4s linear infinite;
  -moz-animation: spin-left 4s linear infinite;
  animation: spin-left 4s linear infinite;
  position: absolute;
  top: -146px;
    left: 68px;
}

@-moz-keyframes spin-left {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.loader-title {
     color: #6fd096;
    font-weight: 400;
    display: block;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 35px;
    text-align: center;
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
}

.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.navbar-brand { margin-right:1rem;}
.navbar-brand {font-size: 1.2rem;}

.about{padding:40px; margin-top: 0px; background:#f5fafd;}
.display-only-phone{display:none;}
.display-only-phone-block{display: none;}
.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
} 
.message_now_area .section_heading {
    margin-bottom: 0;
} 
.section_heading {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 0.2;
}
.section_heading>h2 {
    font-size: 36px;
    text-transform: capitalize;
}
.contact_address_area .section_heading h2, .contact_address_area .single_contact_area p, .contact_address_area .single_contact_area i {
    color: white;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
}





/*Overlay Menu*/
.open-menu-icon{font-size:30px;cursor:pointer;margin-top: -13px;}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    background-color: rgb(1,1,74);
    background-color: rgba(1,1,74, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.mobile-contact-container{background:white; padding: 20px;}
.mobile-contact-container h2{border-bottom: 2px dotted #005f04 ; color:#005f04; margin: 10px 0px; text-align: left;}


/*Events CSS Code*/


.text-sprouit-blue-events {
	text-align: center;
	color: #01014a;
}

.gallery_full_width_images_area {
	padding-left: 150px;
}

/* :: 22.0 Gallery Area CSS */

.gallery_menu .portfolio-menu button {
    background-color: transparent;
    box-shadow: none;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
}

.gallery_menu .portfolio-menu button:hover,
.gallery_menu .portfolio-menu button:active,
.gallery_menu .portfolio-menu button:focus {
    background-color: transparent;
    color: #111;
}

.gallery_menu .portfolio-menu button.active {
    color: #111;
}

.gallery_menu .portfolio-menu button.active:before {
    background-color: #111;
    width: 100%;
    height: 3px;
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.portfolio-menu {
    margin-bottom: 30px;
}

.single_gallery_content {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.single_gallery_content img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
}

.single_gallery_content:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.single_gallery_content .hover_overlay {
    background: rgba(0,95,4,0.85);
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_content:hover .hover_overlay {
    opacity: 0.95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}

.single_gallery_content .gallery_info {
    text-align: center;
}

.gallery_info h4 {
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
	margin-top: 0px;
}

.gallery_info p {
    color: #fff;
    margin: 0 auto;
    max-width: 300px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.image_zoom_in {
    position: absolute;
    right: 15px;
    z-index: 999;
    bottom: 15px;
}

.image_zoom_in>a {
    background-color: #fff;
    border-radius: 50%;
    color: #005f04;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.image_zoom_in>a:hover {
    color: #2c3e50;
}


.single_gallery_item {
    display: inline-block;
  float: left;
    width: 25%;
}

.gallery_area .load_more {
    margin-top: 35px;
}

.section_padding_100 {
    padding: 25px 0 10px;
}
.portfolio-menu {
    margin-bottom: 6px;
}

.gallery_menu .portfolio-menu button.active {
    color: #111;
}

.gallery_menu .portfolio-menu button {
    background-color: transparent;
    box-shadow: none;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
}
.single_gallery_item {
    display: inline-block;
    float: left;
    width: 25%;
}

.single_gallery_content {
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.single_gallery_content  img {
    padding: 25px;
    width: 357px;
    height: 253px;
}

.table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.single_gallery_content .gallery_info {
    text-align: center;
}

.nav-events:hover{border-bottom: 2px dotted #01014a;padding: 0px 0px 1px;}
.nav-events{color: #01014a !important}


/*************************************************************************************************************************/
/*Shubhanjali*/

/* header*/

.navbar-brand {
    margin-right:1rem;

}
.navbar-nav {
    margin-right:2rem;
}
.navbar-nav li a {
    color: #005f04;
    font-family: Bahnschrift SemiBold;
    display: block;
    line-height: 1;
    padding: 9px 5px;
    text-transform: capitalize;
}


/* about*/
.table {
    display: table;
    z-index: 9;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    align-content: center;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}

.about_image {
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 2;
    margin: 0px;
    padding-right: 20px;
    padding-left: 20PX;
   
}

.display-only-phone{display: none;}

/**Nikhil CSS**/
/*  ----------------------------------------------------
6 portfolio
-------------------------------------------------------- */
.project_box_one {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  cursor: crosshair;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one .product_info {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one .product_info .product_info_text {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}
.project_box_one .product_info .product_info_text .product_info_text_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.project_box_one .product_info .product_info_text .product_info_text_inner h4 {
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
  margin-bottom: 5px;
}
.project_box_one .product_info .product_info_text .product_info_text_inner i {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one:hover img {
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1);
  /* Standard syntax */
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one:hover .product_info {
  opacity: 1;
}
.project_box_one:hover .product_info .product_info_text_inner h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.project_box_one:hover .product_info .product_info_text_inner i {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #ffffff;
  word-wrap: break-word;
  padding-right: 36px;
  font-size: 14px;
  text-transform: capitalize;
}

.gutters .grid-item {
  margin-bottom: 30px;
}


/* ms-gallery styling */
.ms-gallery-group {
  
}

.ms-gallery-group img {
  margin: 7px;
  cursor: pointer;
}

.ms-gallery-group li {
  display: inline;
  float: none;
}

#ms-gallery img{
border-radius: 18px;
    border: none;
    width: 260px;
    height: 190px;
    margin: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

/********************Contact US CSS Madhumita*****************************/
.widget-title.lined {
    border-bottom: 1px solid rgba(0, 0, 0, 0.065);
    line-height: 1px;
    margin-bottom: 60px;
}


.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.widget_pw_icon_box .icon-box {
    display: inline-block;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #b9babc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 20px;
    line-height: 1.3;
    transition: all 100ms ease-out;
}


.widget_pw_icon_box .icon-box:hover .fa {
    color:#55ACEE;
}

.widget_pw_icon_box .icon-box .fa {
    float: right;
    font-size: 45px;
    color: #b9babc;
    padding: 10px 0 10px 10px;
    transition: all 100ms ease-out;
}

.contact-us-grid{background: black; background-image:url(../images/bg-contact.png) ; padding: 30px 0px; color: #fff!important;}
.contact-us-grid a{color: #fff!important;}
h2{
  text-align:center;
  padding: 20px;
}

/************************* SPONSOR CSS **************************/
.sponsor{padding: 40px 20px 65px; background:url(../images/bg-sponsor.png) no-repeat  ;

 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider{margin-top: 25px;}


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.display-phone-table-row{display: none;}